.wrapper {
    display:grid;
    grid-template-columns: 7fr 3fr;
    /*grid-column-gap: 1em;
    grid-row-gap: 1em;
    estas dos cosas son lo mismo que grid-gap*/
    grid-gap: 1em;
}

.wrapper >div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background-color: #ddd;
}